.app__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    padding: 1rem 2rem;
}
.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.app__navbar-logo img{
    width: 150px; 
}
.app__nav-links {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.app__nav-links li {
    margin: 0 1rem;
    cursor: pointer;
}
.app__nav-links li:hover{
    color: var(--color-grey);
}
.app__nav-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.app__nav-login a{
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.5s ease;
}
.app__nav-login a:hover{
    border-bottom: 1px solid var(--color-golden);
}
.app__nav-login div{
    width: 1px;
    height: 30px;
    background-color: var(--color-grey);
}
.app__navbar-smallscreen {
    display: none;
}
.app__navbar-smallscreen_overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: var(--color-black);
    transition: 1s ease-in-out;
    align-items: center;
}
.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 27px;
    top: 20px;
    right: 20px;
    position: absolute;
    color: var(--color-golden);
    cursor: pointer;
}
.app__nav-smallscreen-links{
    list-style-type: none;
}

.app__nav-smallscreen-links li{
    margin: 2rem;
    font-size: 2rem;
    color: var(--color-golden);
    font-family: var(--font-base);
    cursor: pointer;
    text-align: center;
}
.app__nav-smallscreen-links li:hover{
    color: var(--color-white);
}
@media screen and (max-width: 2000px){
    .app__navbar-logo img{
        width: 210px;
    }
    
}

@media screen and (max-width:1150px){
    .app__nav-links{
        display: none;
    }
    .app__navbar-smallscreen{
        display: flex;
    }
}

@media screen and (max-width:650px){
    .app__navbar-logo img{
        width: 110px;
    }
    .app__nav-login{
        display: none;
    }
    .app__navbar{
        padding: 1rem;
    }
}